
@font-face {
  font-family: av;
  src: url(../fonts/av.ttf);
}

#websites img{
  width:100%;
}
#websites .title{
  color: #000; 
  font-weight: 200; 
}
#websites div {
  text-transform: uppercase; 
   
  text-align: center;
  height: 400px;
}
#project-cards div{
  height: 400px;
}
#project-cards p{
  font-size: 1.3em;
}
.button {
  display: inline-block;
  height:50px;
  
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  color:rgb(0,0,0);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  width:100%;
  text-align: center;
  
  }
.button h2{
  font-size: 2em;
  margin: 10px 0 0 0;
}

.button span {
  position: absolute;
  font-size: 50px;
  left: 0;
  width: 50px;  

}

.button:hover, .button.active span {
  color: #000;
}
