#page-content-wrapper{
  margin-left: 10vw;
  margin-right: 10vw;
}

.banner{
  /*min-height: 10vh;
  max-width: 100vw;
  height: 50vh;*/

}
.banner div{
  height: inherit;
  width: inherit;
}
.banner div img{
  height: inherit;
  width: inherit;
}
.row{
	margin-left: 0;
	margin-right: 0;
}
.title{
  align-items: center;
  width: inherit;
}
.title h1{
  text-align: center;
  font-size: 8vh;
}
.title .subtitle{
  text-align: center;

}
.multiline h2{
  margin-bottom: -20px;
font-size: 4vh;
}
.multiline #line-1{
  margin-left: 0;
}
.multiline #line-2{
  margin-left: 210px;
}
#page-content-wrapper p{
  font-family: 'Open Sans', sans-serif;
font-weight: 500;
line-height: 1.1;
color: inherit;
font-size: 18px;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
}
#features p{
margin-left: 25px;
}
