
.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20rem;

}
.profile-image{

    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  width: 75%;
  height: 75%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.col{
  float: left;
}
.cards  {
  margin-left: 10%;
  margin-right: 10%;
}

.card-ele{
padding: 6px 12px;
margin-bottom: 0;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
margin-top: 2px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
align-self: center;
}
.card-name{

 background: #76ff03;
  border: 1px solid #76ff03;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  align-self: center;
}

.card-role{
  background:#20b1d8;
  border: 1px solid #20b1d8;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  align-self: center;
}
.card-social{

 background: #607D8B;
  border: 1px solid #607D8B;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  align-self: center;
}
.card-social a{
  color: #fff;
  text-align: center;
}
.social-bubble{
  background: #607D8B;
width: 42px;
height: 42px;
font-size: 25px;
display: inline-block;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
color: #fff;
text-align: center;
padding-top: 5px;
margin-top: 5px;
margin-left: 5px;
margin-bottom: 5px;
}
.social-bubble:hover{
  background: #263238;
}
.social-bubble a{
  color: #fff;
  text-align: center;
}
.libs::before{
  display: block;
  font-size: 4rem;
  white-space: pre;
  content: "Libraries:\A";
}
.libs{
  margin: 10%;
  margin-top: 2%;
  font-size: 3rem;
}
hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}
