
@font-face {
  font-family: av;
  src: url(../fonts/av.ttf);
}

#websites img{
  width:100%;
}
#websites .title{
  color: #000; 
  font-weight: 200; 
}
#websites div {
  text-transform: uppercase; 
   
  text-align: center;
  height: 400px;
}
#project-cards div{
  height: 400px;
}
#project-cards p{
  font-size: 1.3em;
}
#project-tags h4 {
  font-size: 1.2em;
	margin: 0 0 0 0;
	line-height: 1.5em;
}
#project-tags a{
  font-size: 1.2em;
  margin: 0 0 0 0 !important; 
	line-height: 1.5em;
}
.button {
  display: inline-block;
  height:50px;
  
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  color:rgb(0,0,0);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  width:100%;
  text-align: center;
  
  }
.button h2{
  font-size: 2em;
  margin: 10px 0 0 0;
}

.button span {
  position: absolute;
  font-size: 50px;
  left: 0;
  width: 50px;  

}

.button:hover, .button.active span {
  color: #000;
}
.cssload-container *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
}

.cssload-bouncywrap{
	position: relative;
}

.cssload-cssload-dotcon{
	display: block;
	float: left;
	width: 175px;
	position: absolute;
}

.cssload-dc1{
	animation: bouncy1 0.825s infinite;
		-o-animation: bouncy1 0.825s infinite;
		-ms-animation: bouncy1 0.825s infinite;
		-webkit-animation: bouncy1 0.825s infinite;
		-moz-animation: bouncy1 0.825s infinite;
	left: -140px;
}

.dc2{
	animation: bouncy2 0.825s infinite;
		-o-animation: bouncy2 0.825s infinite;
		-ms-animation: bouncy2 0.825s infinite;
		-webkit-animation: bouncy2 0.825s infinite;
		-moz-animation: bouncy2 0.825s infinite;
	left: 0;
}

.dc3{
	animation: bouncy3 0.825s infinite;
		-o-animation: bouncy3 0.825s infinite;
		-ms-animation: bouncy3 0.825s infinite;
		-webkit-animation: bouncy3 0.825s infinite;
		-moz-animation: bouncy3 0.825s infinite;
	left: 140px;
}

.cssload-dot{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background: rgba(150,160,180,0.8);
}








@keyframes bouncy1{
	0% {transform: translate(0px,0px) rotate(0deg);}
	50% {transform: translate(0px,0px) rotate(180deg);}
	100% {transform: translate(140px,0px) rotate(-180deg);}
}

@-o-keyframes bouncy1{
	0% {-o-transform: translate(0px,0px) rotate(0deg);}
	50% {-o-transform: translate(0px,0px) rotate(180deg);}
	100% {-o-transform: translate(140px,0px) rotate(-180deg);}
}

@-ms-keyframes bouncy1{
	0% {-ms-transform: translate(0px,0px) rotate(0deg);}
	50% {-ms-transform: translate(0px,0px) rotate(180deg);}
	100% {-ms-transform: translate(140px,0px) rotate(-180deg);}
}

@-webkit-keyframes bouncy1{
	0% {-webkit-transform: translate(0px,0px) rotate(0deg);}
	50% {-webkit-transform: translate(0px,0px) rotate(180deg);}
	100% {-webkit-transform: translate(140px,0px) rotate(-180deg);}
}

@-moz-keyframes bouncy1{
	0% {-moz-transform: translate(0px,0px) rotate(0deg);}
	50% {-moz-transform: translate(0px,0px) rotate(180deg);}
	100% {-moz-transform: translate(140px,0px) rotate(-180deg);}
}

@keyframes bouncy2{
	0% {transform: translateX(0px);}
	50% {transform: translateX(-140px);}
	100% {transform: translateX(-140px);}
}

@-o-keyframes bouncy2{
	0% {-o-transform: translateX(0px);}
	50% {-o-transform: translateX(-140px);}
	100% {-o-transform: translateX(-140px);}
}

@-ms-keyframes bouncy2{
	0% {-ms-transform: translateX(0px);}
	50% {-ms-transform: translateX(-140px);}
	100% {-ms-transform: translateX(-140px);}
}

@-webkit-keyframes bouncy2{
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(-140px);}
	100% {-webkit-transform: translateX(-140px);}
}

@-moz-keyframes bouncy2{
	0% {-moz-transform: translateX(0px);}
	50% {-moz-transform: translateX(-140px);}
	100% {-moz-transform: translateX(-140px);}
}

@keyframes bouncy3{
	0% {transform: translateX(0px);}
	50% {transform: translateX(0px);}
	100% {transform: translateX(-140px);}
}

@-o-keyframes bouncy3{
	0% {-o-transform: translateX(0px);}
	50% {-o-transform: translateX(0px);}
	100% {-o-transform: translateX(-140px);}
}

@-ms-keyframes bouncy3{
	0% {-ms-transform: translateX(0px);}
	50% {-ms-transform: translateX(0px);}
	100% {-ms-transform: translateX(-140px);}
}

@-webkit-keyframes bouncy3{
	0% {-webkit-transform: translateX(0px);}
	50% {-webkit-transform: translateX(0px);}
	100% {-webkit-transform: translateX(-140px);}
}

@-moz-keyframes bouncy3{
	0% {-moz-transform: translateX(0px);}
	50% {-moz-transform: translateX(0px);}
	100% {-moz-transform: translateX(-140px);}
}
